.achievements{
    background-color: var(--green);
    padding: var(--large-space) 0;
}

.achievements__title-content{
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--font-title);
    color: var(--white);
    text-align: center;
    line-height: 1;
    margin-bottom: var(--space);
}

.achievements__card:not(:last-child){
    margin-bottom: var(--double-space);
}

.achievements__onu{
    --width-card-onu: 120px;

    display: grid;
    grid-gap: var(--large-space) 0;
    grid-template-columns: repeat(3, 1fr);
}

.achievements__onu-fig{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(var(--width-card-onu) + 80px);
    text-align: center;
    color: var(--white);
    margin: 0 auto;
}

.achievements__onu-img{
    width: var(--width-card-onu);
    border-radius: var(--small-radius);
    margin-bottom: 8px;
    transition: transform var(--ms);
}

.achievements__onu-img:hover, .achievements__onu-img:focus, .achievements__onu-img:active{
    transform: rotateZ(4deg);
}

.achievements__onu-cap{
    font-size: .9rem;
}

@media(max-width: 1000px){
    .achievements__onu{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px){
    .achievements__onu{
        grid-template-columns: repeat(1, 1fr);
    }
}
