.button{
    padding: var(--space) var(--double-space);
    color: var(--white);
    font-weight: 600;
    font-family: var(--font-title);
    line-height: 1;
    transition: background-color var(--ms);
    width: fit-content;
    border-radius: var(--small-radius);
    border: 0;
    cursor: pointer;
}

.button--green{
    background-color: var(--green);
}

.button--green:hover, .button--green:active, .button--green:focus{
    background-color: var(--yellow);
}

.button--yellow{
    background-color: var(--yellow);
}

.button--yellow:hover, .button--yellow:active, .button--yellow:focus{
    background-color: var(--purple);
}
