.footer__principal{
    background-color: var(--purple);
    padding: var(--double-space) 0;
}

.footer__copyright{
    background-color: var(--dark-purple);
}

.footer__copyright-txt{
    text-align: center;
    color: var(--white);
    padding: var(--double-space) 0;
}

.footer__principal-content{
    display: grid;
    grid-gap: var(--double-space);
    grid-template-columns: repeat(2, 1fr);
    color: var(--white);
}

.footer__principal-img{
    width: 100%;
    margin-bottom: var(--double-space);
}

.footer__principal-link{
    text-decoration: underline;
}

.footer__principal-address{
    display: flex;
    flex-direction: column;
}

.footer__principal-address > *:not(:last-child){
    margin-bottom: var(--double-space);
}

.footer__principal-yt{
    height: 240px;
    width: 100%;
    border-radius: var(--small-radius);
}

.footer__principal-list-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: var(--double-space);
}

.footer__principal-list-link > *:not(:last-child){
    margin-right: var(--space);
}

.footer__principal-link-img{
    width: 30px;
}

.footer__card{
    padding: var(--double-space) 0;
}

.footer__card--stamp{
    background-color: var(--light-purple);
}

.footer__card--partners{
    background-color: var(--more-light-purple);
}

.footer__title-content{
    text-align: center;
    font-size: 1.25rem;
    color: var(--white);
    margin-bottom: var(--double-space);
}

.footer__stamps, .footer__list{
    display: flex;
    justify-content: space-around;
}

.footer__list-img, .footer__stamps-img{
    width: 80px;
    margin: var(--half-space);
}

.footer__list-content{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1200px){
    .footer__principal-content{
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__principal-list-link{
        align-items: center;
        justify-content: flex-start;
    }
}

@media(max-width: 700px){
    .footer__stamps, .footer__list{
        flex-direction: column;
        align-items: center;
    }
}
