.home{
    display: flex;
    align-items: center;
    padding-top: var(--large-space);
    padding-bottom: var(--large-space);
    box-sizing: border-box;
    justify-content: space-around;
    margin-top: var(--height-menu) !important;
}

.home__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    width: 100%;
}

.home__content > *:not(:last-child){
    margin-bottom: var(--space);
}

.home__img{
    margin-left: var(--large-space);
    width: 200px;
}

.home__title{
    font-size: 2rem;
    font-weight: 700;
    color: var(--yellow);
}

.home__txt{
    color: var(--grey);
}
