@import "reset.css";
@import "vars.css";
@import "menu.css";
@import "home.css";
@import "button.css";
@import "about.css";
@import "partners.css";
@import "achievements.css";

html, body{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: var(--white);
}

*{
    outline-color: var(--yellow);  /* uso de outline-color #paratodosverem */
}

.content{
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    padding-left: var(--space);
    padding-right: var(--space);
}

.header{
    background-color: var(--white);
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font-title);
}

.title--black, .subtitle--black{
    color: var(--black);
}

.title--white, .subtitle--white{
    color: var(--white);
}

.subtitle{
    margin-bottom: var(--double-space);
}
